@import "@/index.scss";

.main {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	::-webkit-scrollbar {
		background-color: rgba(#000, 0.1);
	}
	::-webkit-scrollbar-thumb {
		background-color: rgba(#ffb24e, 0.8);
	}
	.puppeteerScreenShortOverviewList{
		width: 370px;
		padding: 10px;
	}
	.header {
		height: 60px;
		background-color: $gray-1;
		padding-left: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.content {
		flex: 1;
		display: flex;
		flex-direction: column;
		color: #222;
		margin: 20px;
		user-select: none;
		border-radius: 16px;
		background-color: #fff;
		padding: 20px;
	}
}
