@import "@/index.scss";

.main {
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: $gray-1;
	padding: 0 20px;

	.left {
		flex: 1;

		& > span {
			color: $red-5;
		}
	}
}
