@import "@/index.scss";

.main {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	::-webkit-scrollbar {
		background-color: rgba(#000, 0.1);
	}
	::-webkit-scrollbar-thumb {
		background-color: rgba(#ffb24e, 0.8);
	}
	.puppeteerScreenShortOverviewList{
		width: 370px;
		padding: 10px;
	}
	.header {
		height: 60px;
		background-color: $gray-1;
		padding-left: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.content {
		flex: 1;
		display: flex;
		flex-direction: column;
		color: #222;
		margin: 20px;
		user-select: none;
		border-radius: 16px;
		background-color: #fff;
		padding: 20px;
	}

	.bigFont{
		font-size: 18px;
		font-weight: 600;
		color: #333;
	}
	.smallFont{
		font-size: 11px;
		font-weight: 100;
	}
	.boxtitle{
		margin: 5px;
	}
	.overviewList{
		display: flex;
		padding: 10px;
		flex-wrap: wrap;
		width: 350px;
		border: 2px solid #6e4444;
		border-radius: 16px;
		background-color: #f6f8fa;
	}
	.characters{
		display: flex;
		padding: 10px;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 800px;
		background-color: #f5ebde;
	}
	.charactersItem{
		user-select: none;
	}
	.charactersDItem{
		user-select: none;
		display: flex;
		margin: 5px;
		box-shadow: 0 0 4px #333;
	}
	.charactersItemCardName{
		text-align: center;
		color: #8d6b6b;
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 6px;
	}
	.charactersItemCard{
		width: 80px;
		height: 98px;
		margin: 5px;
		position: relative;
		border-radius: 8px;
		box-shadow: 0px 3px 3px rgb(212, 209, 209) ;
		overflow: hidden;
	}
	.charactersItemStar{
		position: absolute;
		display: flex;
		bottom: 16px;
		z-index: 1;
		justify-content: center;
		width: 100%;
	}
	.charactersItemStarDetail{
		justify-self: center;
		width: 12px;
		height: 12px;
	}
	.hide {
		display: none;
	}
	.charactersItemEl{
		position: absolute;
		width: 24px;
		top: 2px;
		left: 1px;
	}
	.charactersItemConstellation{
		background-color: rgba(0,0,0,0.7);
		text-align: center;
		border-radius: 0px 4px 0px 4px;
		position: absolute;
		font-size: 10px;
		font-weight: 600;
		padding: 2px;
		top: 0;
		right: 0;
		color: rgba($color: #fff, $alpha: 0.8);
	}
	.charactersCardLv{
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #f7e8f2;
		color: #645f66;
		font-weight: 800;
		text-align: center;
		font-size:small;
	}
	.charactersItemIcon{
		width: 100%;
	}
	.overviewListItem{
		overflow: hidden;
		width: 80px;
		padding: 5px;
		text-align: center;
	}
	.dailynotes{
		width: 400px;
		background-color: #f5ebde;
		padding: 8px;
	}
	.dailynotesCard{
		position: relative;
		display: flex;
		overflow: hidden;
		height: 40px;
		width: 100%;
		margin-top: 10px;
		background-color: #F2F2E8;
		border: 1px solid #d6d6c8;
		border-radius: 4px;
		box-shadow: 3px 0 3px #d6d6c8;
	}
	.dailynotesIcon{
		width: 40px;
		height: 40px;
		padding: 10px;
		border-radius: 50%;
	}
	
	.dailynotesStatus{
		background-color: #EAE2D7;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: small;
		color: #755D45;
		width: 100px;
	}
	.dailynotesContent{
		padding: 2px;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.dailynotesContentTitle{
		color: #62615C;
		font-size: 10px;
		flex-grow: 1;
		padding-top: 4px;
		display: flex;
		align-items: center;
	}
	.dailynotesContentMsg{
		color: #C8BCB4;
		font-size: 8px;
		padding-bottom: 4px;
		flex-grow: 1;
		display: flex;
		align-items: center;
	}
	.dispatchContainer{
		overflow: hidden;
		margin-top: 10px;
		background-color: #F2F2E8;
		padding: 8px;
		color: #5c5b56;
		border: 1px solid #d6d6c8;
		border-radius: 4px;
		box-shadow: 3px 0 3px #d6d6c8;
	}
	.dispatchBox{
		margin: 6px;
		padding-left: 10px;
		background-image: linear-gradient(90deg, #EBE3D8 , #F2F2E8 55%);;
		border-radius: 20px;
		height: 40px;
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;
	}
	.dispatchBoximage{
		width: 30px;
		height: 30px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 2px 2px 0 #fff;
		border: 3px solid rgb(255, 178, 91);
	}
	.dispatchBoximageicon{
		width: 38px;
		height: 38px;
		position: absolute;
		top: -30px;
		left: -8px;
	}
	.dispatchBoxMsg{
		margin-left: 10px;
		font-size: 10px;
		color: #b4927b;
	}

	.abyss{
		width: 600px;
		padding: 10px;
	}
	.abyssStartEndTime{
		color: #8d9292;
		padding: 3px;
		font-size: 14px;
	}

	.abyssDataContainer{
		overflow: hidden;
		color: #F5FFFF;
		border-radius: 8px;
		padding: 16px;
		font-size: 12px;
		width: 100%;
		background: url("../../images/genshin/img/abyss/bg.png") no-repeat;
		background-size:cover;
	}
	.abyssDataTitle{
		text-align: center;
		color: #BDB296;
		font-size: 18px;
	}
	.abyssDataTitle2{
		color: #c7b892;
		margin: 10px 0 10px 0;
		font-size: 12px;
	}

	.abyssDataBaseInfo{
		margin: 10px 0 10px 0;
		position: relative;
		border-radius: 4px;
		border: 2px solid #696E74; 
		box-shadow: 0px 1px 4px #545C60;
		font-size: 14px;
		display: flex;
		align-items: center;
		background-color: rgba(74, 82, 101, 0.8);
		padding: 8px;
		>span {
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.abyssDataReveal{
		position: relative;
		display: flex;
		justify-content: space-evenly;
	}
	.abyssDataRevealContainer{
		position: relative;
		user-select: none;
	}
	.abyssDataStar{
		position: absolute;
		width: 20px;
		height: 20px;
		top: 50%;
		transform: translate(50%, -50%);
		left: -43%;
	}
	.abyssDataRevealBox{
		width: 80px;
		height: 98px;
		margin: 5px;
		position: relative;
		border-radius: 8px;
		overflow: hidden;
	}

	.abyssDataFightContainer{ // 战斗数据榜容器
		display: flex;
		flex-wrap: wrap;
		.abyssDataFightbox{
			width: 50%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			overflow: hidden;
			padding-right: 30px;
		}
		.avatar_icon{
			transform: translateY(-5px);
			width: 30px;
		}
	}

	.abyssFloorContainer{
		border-radius: 4px;
		position: relative;
		margin-top: 10px;
		padding: 2px;
		color: #F5FFFF;
		background-color: #202940;
	}
	.abyssFloorContainerInn{
		padding: 10px;
		border-radius: 4px;
		border: 2px solid #75a89f;
	}
	
	.abyssFloorContainerHeader{
		display: flex;
		align-items: center;
		padding: 10px 5px 10px 5px;
		justify-content: space-between;
		>div {
			display: flex; 
			align-items: center;	
		}
	}

	.abyssFloorContainerHeaderTitle{
		border-radius: 50%;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		font-weight: 800;
		color: #353f58;
		box-sizing: border-box;
		border: 2px solid rgba(120, 127, 133, 0.5);
		background-color: rgba(238, 244, 248, 0.8);
		position: relative;
	}
	.abyssFloorContainerHeaderTitle2{
		font-size: 16px;
		flex-grow: 1;
		padding-left: 10px;
	}

	.abyssFloorLevelContainer {
		border-top: 0.5px solid #75A89F;
		margin-top: 5px;
	}
	.abyssFloorLevelHeader{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 4px;
		padding-bottom: 4px;
		>div{
			display: flex;
			align-items: center;
		}
	}
	.abyssFloorLevelHeaderTimeMsg{
		color: #C7B892;
		flex-grow: 1;
		padding-left: 10px;
		font-size: 10px;
	}
	.abyssFloorLevelBattleContainer{
		display: flex;
		justify-content: space-evenly;
	}
	.characterAnalysisContainer{
		background-repeat: no-repeat;
		background-size: cover;
		width: 1260px;
		height: 600px;
	}
	.characterAnalysisBox{
		position: relative;
		background-repeat: no-repeat;
		background-size: 30%;
		width: 1260px;
		height: 600px;
	}
	.logo{
		position: absolute;
		top: 1px;
		right: 3px;
		font-size: small;
		color: #ffffff;
	}
	.characterInfoBox{
		position: absolute;
		width: 120px;
		bottom: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.characterInfoName{
		text-align: center;
		font-size: 24px;
		font-weight: 800;
		font-style: oblique;
		text-shadow: 2px 2px #292928;
		color: #787b7c;
	}
	.characterInfoDiv{
		background-color: rgba(0, 153, 255, 0.6);
		border-radius: 8px;
		width: 90%;
		display: flex;
		font-size: 12px;
		justify-content: space-evenly;
		font-weight: 600;
		color: #f1f4ff;
	}
	.skillContainer{
		position: absolute;
		bottom: 0;
		display: flex;
		width: 220px;
		padding: 4px;
		justify-content: space-evenly;
		.skillBox{
			background-color: rgba(159, 167, 168,0.4);
			border-radius: 50%;
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid rgb(230, 254, 255);
			box-sizing: border-box;
			position: relative;
		}
		.skillLevel{
			position: absolute;
			width: 80%;
			top: -12px;
			font-size: 9px;
			height: 12px;
			display: flex;
			font-weight: 600;
			justify-content: center;
			align-items: center;
			color: #4d4a4a;
			background-color: rgba(160, 217, 255, 0.6);
			border-radius: 2px;
			box-shadow: 0px -1px 3px rgba(195, 221, 255, 0.6);
			border: 1px solid rgb(138, 223, 223);
			text-align: center;
		}
		.skillIcon{
			width: 30px;
			height: 30px;
		}
	}


	.constellationsContainer{
		position: absolute;
		overflow: hidden;
		width: 40px;
		height: 90%;
		left: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content:center;
		.constellationBox{
			margin-bottom: 8px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			box-sizing: border-box;
			width: 30px;
			height: 30px;
			background-color: rgba(203, 210, 214, 0.3);
		}
		.constellationBoxActive{
			background-color: rgba(50, 172, 243, 0.5);
			border: 1px solid rgba(179, 227, 255, 0.7);
			box-shadow: 0 0 3px rgba(127, 217, 253,0.8);
		}
		.constellationIcon{
			width: 30px;
			height: 30px;
		}
	}

	.weaponContainer{
		display: flex;
		position: relative;
		overflow: hidden;
		width: 180px;
		height: 80px;
		color: #E5E2E2;
		position: absolute;
		left: 240px;
		border-radius: 4px;
		box-shadow: 0 0 4px rgba(0, 153, 255,0.3);
		background-color: rgba(10, 44, 82, 0.3);
		.weaponContainerImg{
			display: flex;
			align-items: center;
		}
		.weaponContainerInfo{
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
		.weaponTitle{
			font-size: 16px;
			text-align: center;
		}
		.weaponIcon{
			width: 70px;
			height: 70px;
		}
		.weaponStar{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.weaponLevel{
			overflow: hidden;
			height: 16px;
			font-size: 10px;
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			>span{
				padding: 1px;
			}
		}
		.weaponLevel2{
			width: 100%;
			height: 16px;
			overflow: hidden;
			font-size: 10px;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			>span{
				padding: 1px;
			}
		}
	}

	.profileContainer{
		display: flex;
		position: relative;
		overflow: hidden;
		width: 770px;
		height: 80px;
		color: #E5E2E2;
		left: 432px;
		border-radius: 4px;
		box-shadow: 0 0 1px rgba(197, 208, 216, 0.3);
		background-color: rgba(0, 0, 0, 0.5);
		>:nth-child(1) {
			width: 60%;
		}
		.fightProfile{
			display: flex;
			align-items: center;
		}
		
		.fightHpDefAtkProfile{
			width: 120px;
			height: 100%;
			display: flex;
			flex-direction: column;
			>div{
				font-size: 10px;
				padding: 0 2px 0 2px;
				display: flex;
				align-items: center;
				flex-grow: 1;
				box-sizing: border-box;
				&:not(:first-child) {
					border-top: 1px solid rgba(255,255,255,0.5);
				}
			}
		}
		
		
		.fightValueBox{
			font-size: 9px;
			flex-grow: 1;
			text-align: right;
		}
		.profileValue{
			font-size: 7px;
		}

	}
	.fightProfileContainerBiye{
		position: absolute;
		top: 250px;
		left: 660px;
		display: flex;
		text-align: center;
		padding: 4px;
		border-radius: 2px;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: rgba(0,0,0,0.5);
		color: rgb(187, 228, 255);
	}
	.fightProfileContainer{
		display: flex;
		height: 100%;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.profileContainerTitle{
		writing-mode: vertical-lr;
		height: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		letter-spacing: 2px;
		box-sizing: border-box;
		border-right: 1px solid #397a7c;
	}
	.fightProfileItemBox{
		width: 84px;
		overflow: hidden;
		box-shadow: 0 0 1px #fff;
		padding: 0 2px 0 2px;
		height: 20px;
		font-size: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.yellow{
		color: rgb(56, 255, 122);
	}
	.biyeSecondProfile{
		position: absolute;
		left: 550px;
		height: 330px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		top: 250px;
		background-color: rgba(0,0,0,0.5);
		color: rgb(187, 228, 255);
		width: 100px;
		font-size: 10px;
		padding: 4px;
		border-radius: 4px;
		.biyeSecondProfileTitle{
			text-align: center;
			padding: 2px;
			font-weight: 800;
			font-size: 14px;
			border-bottom: 1px solid #fff;
		}
		.biyeSecondProfileContainer{
			display: flex;
			flex-direction: column;
		}
		.biyeSecondProfileBox{
			display: flex;
			justify-content: space-between;
		}
	}
	.reliquariesContainer{
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		left: 240px;
		top: 110px;
		.reliquariesTitle{
			display: flex;
			position: relative;
			flex-wrap: nowrap;
			overflow: hidden;
			flex-grow: 1;
		}
		.reliquariesBox{
			margin: 5px 15px 15px 0;
			position: relative;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			width: 180px;
			height: 120px;
			color: #E5E2E2;
			border-radius: 4px;
			box-shadow: 0 0 4px rgba(0, 153, 255,0.3);
			background-color: rgba(10, 44, 82, 0.3);
		}
		.reliquariesLevel{
			color: #fff;
			background-color: rgba(0,0,0,0.5);
			padding: 1px 2px 1px 2px;
			border-radius: 2px;
			position: absolute;
			top: 0;
			left: 0;
			font-size: small;
		}
		.reliquariesData{
			display: flex;
			width: 100%;
			background-color: rgba(28, 43, 77, 0.5);
			flex-wrap: wrap;
			>div{
				width: 50%;
				text-overflow:ellipsis;
				font-size: 10px;
				padding: 0 2px 0 2px;
				overflow: hidden;
				display: flex;
				white-space:nowrap;
				justify-content: space-between;
				align-items: center;
			}
		}
		.reliquariesTitleImage{
			overflow: hidden;
			display: flex;
			position: relative;
			justify-content: center;
			align-items: center;
			width: 45%;
		}
		.reliquariesTitleInfo{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			flex-grow: 1;
		}
		.relicsIcon{
			width: 80px;
		}
	}
	.charactersItemEl2{
		position: absolute;
		width: 24px;
		left: 8px;
	}
	.reliPoint{
		background-color: rgba(0, 153, 68, 0.3);
		color: #fff;
		position: absolute;
		padding: 2px;
		border-radius: 2px;
		font-size: 10px;
		bottom: 0px;
		right: 0px;
		z-index: 5;
	}

	.dmgContainerAll{
		position: absolute;
		left: 240px;
		top: 250px;
		width: 300px;
		display: flex;
		overflow: hidden;
		flex-direction: column;
		justify-content: space-evenly;
		height: 330px;
		>div{
			height: 50%;
		}
	}
	
	.dmgContainer{
		background-color: rgba(0,0,0,0.5);
		color: rgb(187, 228, 255);
		width: 300px;
		height: 98%;
		font-size: 10px;
		padding: 4px;
		border-radius: 4px;
		>div{
			display: flex;
			>div{
				text-align: center;
				box-shadow: 0 0 1px #09f;
				width: 33%;
				align-items: center;
				overflow: hidden;
			}
		}
	}
	.sideContainer{
		display: flex;
		position: absolute;
		width: 40px;
		overflow: hidden;
		right: 0;
		height: 100%;
		top: 0;
		background-color: rgba(0,0,0,0.3);
		flex-direction: column;
		justify-content: center;
	}
	.nowrap{
		white-space: nowrap;
	}
	& > :not(:first-child) {
		margin-top: 20px;
	}
}
